<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Ruben Adame" content="Aprende de Network Marketing y Vida Saludable">
    <title>{$title}</title>
    {include file='views/inc/dependencies.html'}
    <link rel="shortcut icon" href="storage/thumbs/favicon.ico">
  </head>

<div class="container">

</div>
  <body>

    <header>
      <div class="icono">
        <img src="storage/images/ruben-1.gif" alt="Usuario">
      </div>
      <hgroup>
        <h1>{$title}</h1>
        <h2>{$firma}</h2>
      </hgroup>
        <nav>
          <ul>
            <li><a href="index">Inicio</a></li>
            <li><a href="views/templates/formulario.html">Blog</a>
            </li>
            <li><a href="#">Galeria</a></li>
            <li><a href="#">Eventos</a></li>
          </ul>
        </nav>
    </header>
