<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Curriculum Rubén Adame</title>
  </head>
  <body>
    <header class="head">
      <h1>Rubén Adame</h1>
      <h2>Curriculum Vintage</h2>
      <img src="storage/images/ruben.jpg" alt="Ruben Adame">
    </header>
    <section>
      <article>
        <h2>Perfil</h2>
        <p></p>
      </article>

      <article>
        <h2>Experiencia</h2>
        <h3>ESPECIALISTA EN NETWORK MARKETING</h3>
        <p></p>
        <h3>DESARROLLADOR WEB</h3>
        <p>Experto en diseño y programación web, prestando servicios a empresas y micro empresas en el desarrollo de sistemas de ventas y administración basados en las necesidades de cada negocio.</p>
      </article>

      <article>
        <h2>Programador</h2>
        <ul>
          <li>JavaScript</li>
          <li>PHP</li>
          <li>Python</li>
          <li>C++</li>
        </ul>
      </article>
    </section>

    <footer class="head">
      <p>Morelos, México - CP 62000 </p>
      <p>Tel:<a href="tel:7773447577">7773447577</a> - Email: rbn24@rubenadame.com.mx - <a href="https://rubenadame.com.mx">rubenAdame.com.mx</a></p>
    </footer>
  </body>
</html>
